form {
    text-align: left;
}
form label, label input, label select {
    display: block;
    color: #707070;
}

label input, label select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(255,255,255,0.25);
    border-radius: 4px;
    margin: 3px 0;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
    transition: .3s;
    text-align: left;
}

.label input, label select:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

form label {
    margin-top: 20px;
}

.addbtn {
    border: none;
    margin-top: 15px;
    font-size: 16px;
    background: #007AE6;
    width: 70px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.addbtn:hover, .addbtn:focus, .addbtn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
