.Calendar {
	text-align: center;
}

.inputBox input {
    width: 250px;
    padding: 10px;
    border: 2px solid rgba(255,255,255,0.25);
    border-radius: 4px;
    margin: 3px 0;
    background: #eef4fb;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
    transition: .3s;
}

.inputBox input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.btn {
    border: none;
    margin-top: 10px;
    font-size: 16px;
    background: #007AE6;
    width: 130px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}