.current-issues {
    max-height: 360px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 30px;
}
.current-issues p {
    text-align: left;
    color: #707070;
    margin: 10px 0;
}

.current-issues p span {
    display: inline-block;
    margin-left: 20px;
}

.current-issues p span, .current-issues .description-text {
    color: #959595;
}

.current-issues .indv-issue {
    position: relative;
}

.current-issues .close-issue {
    position: absolute;
    top: 0;
    right: 0;
    color: #959595;
    margin-top: 0;
    border: none;
    font-size: 14px;
    background: #007AE6;
    width: 90px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.close-issue:hover, .close-issue:focus, .close-issue:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sort-issue {
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 16px;
    background: #007AE6;
    width: 60px;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.sort-issue:hover, .sort-issue:focus, .sort-issue:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sort-choice {
    text-align: center;
    width: 30%;
    padding: 10px;
    border: 2px solid rgba(255,255,255,0.25);
    border-radius: 4px;
    margin: 3px 0;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
    transition: .3s;
}

.sort-choice:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.current-issues hr {
    border: none;
    background: #989898;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.current-issues::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.current-issues::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.current-issues::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #5E5E5E;
}


